<div class="col-12 hb-footer row justify-content-between align-items-md-end align-items-lg-start" id="HBFooter" style="background-image:url('assets/images/school.jpg')">
    <div class="mb-4 mb-md-0 row hb-logo-and-copyright" id="HBFooterCopyright">
        <div class="hb-copyright">
            <div class="hb-copyright-text" style="color: white;" id="HBFooterCopyrightTxt">&copy; 2020 All rights reserved</div>
        </div>
    </div>
    <div class="hb-privacy-and-contact" id="HBFooterPrivacyContact">        
        <a class="p-0 mt-4 mt-md-3 mt-lg-0 hb-contact-us" title="Contact Us" id="HBFooterContactUs" style="color: white;">
          Powered By <span class="hb-contact-number">CFC2020</span>
        </a>
    </div>
</div>

