@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.hb-create-contact-container {
    @include hb-create-layout-view;
}
.hb-create-contact-form {
    .hb-contact-profile-img-container {
        background:$hb-white;
        margin: 0 auto;
        text-align: center;
        height: 125px;
        position: relative;
        border: 0.5px solid $hb-grey;
        border-radius: 4px 4px 0px 0px;
        .hb-contact-profile-img {
            width: 112px;
            height: 112px;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 50%;
            overflow: hidden;
            border: 0.5px solid $hb-grey;
            .hb-image-upload {
                width: 100%;
                height: 100%;
                .hb-image{
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    .hb-image-uploaded {
        background: $hb-white 0% 0% no-repeat padding-box;
        height: 48px;
        border: 0.5px solid $hb-grey-border;
        border-radius: 0px 0px 8px 8px;
        cursor: pointer;
        text-align: center;
        border-top: none;
        .hb-replace {
            cursor: pointer;
            .profilePhotoInput {
                display: none;
            }
        }
        .hb-remove {
            border-left: 0.5px solid $hb-grey-border;
        }
    }
}
.hb-create-service-provider {
  .mt-30 {
    margin-top: 30px;
  }
}

.hb-contacts-list-container {
  margin-bottom: 2rem;
  @include hb-contact-list-view;
}

.container {
	max-width: 500px;
	margin: auto;
}

img {
	max-width: 100%;
}


.inbox_msg {
    background-color: mediumpurple;
    border: 1px solid #c4c4c4;
    border-radius: 50px;
	clear: both;
	overflow: hidden;
}

.top_spac {
	margin: 20px 0 0;
}

.channel_heading {
    font-size: large;
    color: white;
}

.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}

.channel_heading h4 {
	color: #05728f;
	font-size: 21px;
	margin: auto;
}

.srch_bar input {
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
	font-size: 14px;
	color: #989898;
	margin: auto
}

.chat_img {
	float: left;
	width: 11%;
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	border-bottom: 1px solid #c4c4c4;
	margin: 0;
	padding: 18px 16px 10px;
}

.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}

.active_chat {
	background: #ebebeb;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}


.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}
.mesgs {
	float: left;
	padding: 30px 15px 0 25px;
	width: 60%;
}
.received_withd_msg {
	width: 57%;
}
.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
    width: 75%;
    margin-bottom: 20px;
}

.received_withd_msg p {
    word-break: break-all;
	background: #ebebeb none repeat scroll 0 0;
    border-radius: 30px;
    color: #646464;
    font-size: 24px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 160%;
}
   .searched {
    word-break: break-all;
	background: #ebebeb none repeat scroll 0 0;
    border-radius: 30px;
    color: #646464;
    font-size: 24px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 160%;
}


.loading {
    background: url('assets/images/loading.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
.sent_msg p {
    word-break: break-all;
	background: #05728f none repeat scroll 0 0;
    border-radius: 30px;
    font-size: 24px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 90%;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg {
	float: right;
    width: 75%;
    padding-right: 20px;
}

.input_msg_write input {
    border-radius: 20px;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
}

.type_msg {
    width: 170%;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    .bot-input{
        width: 100%;
    }
    .bot-input-pic{
        cursor: pointer;
        height: 20%;
    }
}

.msg_send_btn {
	background: #05728f none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}

.messaging {
    background-color: mediumpurple;
	padding: 0 0 50px 0;
}

.msg_history {
    width: 175%;
	height: 516px;
	overflow-y: auto;
}

.message {
	list-style-type: none;
}


@include media-breakpoint-up(lg) {
    .hb-create-contact-container {
        .hb-create-contact-heading-container {
            padding: 0 2rem;
        }
        .hb-page-body {
            &.hb-fixed-width-container {
                justify-content: center;
                > .hb-fixed-width {
                    max-width: 850px;
                    margin: 0;
                }
            }
        }
    }
}
